<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary class="bg-red-50 text-red-600 p-4 rounded-[2rem] mb-6 text-sm border border-red-100 shadow-sm">
    <div class="flex items-center mb-2 ml-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
      </svg>
      <span class="font-bold">入力内容を確認してください</span>
    </div>
    <ul class="list-disc list-inside ml-2 space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li class="font-medium"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
