<p>まにまに散歩へようこそ、<%= @email %> 様</p>

<p>この度は「まにまに散歩」にご登録いただき、誠にありがとうございます。</p>

<p>ご本人様確認のため、以下のリンクをクリックしてアカウントの有効化を完了させてください。</p>

<p><%= link_to 'メールアドレスを確定する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※本メールに心当たりがない場合は、お手数ですが破棄をお願いいたします。<br>
本登録が完了するまで、お客様の情報が有効になることはありません。</p>

<p>--------------------------------------------------<br>
まにまに散歩 <br>
--------------------------------------------------</p>
