<p><%= @email %> 様</p>

<p>いつも「まにまに散歩」をご利用いただきありがとうございます。</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>お客様のアカウントにおいて、メールアドレスを <%= @resource.unconfirmed_email %> へ変更する手続きを受け付けました。</p>
<% else %>
  <p>お客様のアカウントにおいて、メールアドレスが <%= @resource.email %> へ変更されたことをお知らせいたします。</p>
<% end %>

<p>※本メールに心当たりがない場合は、第三者による不正アクセスの可能性がございます。お手数ですが、速やかに運営事務局までお問い合わせください。</p>

<p>--------------------------------------------------<br>
まにまに散歩 <br>
--------------------------------------------------</p>