<p><%= @resource.email %> 様</p>

<p>いつも「まにまに散歩」をご利用いただきありがとうございます。</p>

<p>お客様のアカウントにおいて、パスワードの変更手続きが完了いたしましたのでお知らせいたします。</p>

<p>※本メールに心当たりがない場合は、第三者による不正アクセスの可能性がございます。お手数ですが、速やかに運営事務局までお問い合わせください。</p>

<p>--------------------------------------------------<br>
まにまに散歩 <br>
--------------------------------------------------</p>
