<p>パスワードの再設定リクエストを受け付けました。<br>
以下のリンクから、新しいパスワードを設定してください。</p>

<p><%= link_to '新しいパスワードを設定する', edit_password_url(@resource, reset_password_token: @token), style: "color: #5ec9a7; font-weight: bold; text-decoration: underline;" %></p>

<p>あなたが上記のリンクにアクセスして新しいパスワードを作成しない限り、パスワードが変更されることはありません。</p>

<hr style="border: none; border-top: 1px dashed #b8f0dc; margin: 20px 0;">
<p style="font-size: 12px; color: #999;">まにまに散歩</p>
