<div class="relative min-h-screen w-full flex flex-col items-center overflow-hidden">

  <%# プロフィールカード本体 %>
  <div class="w-full max-w-xs z-10" style="margin-top: 200px;">
    <%= render "profile_card", user: @user %>
  </div>

  <%# 常に空で待機し、ボタンが押された時だけ中身が流し込まれる %>
  <%= turbo_frame_tag "modal", target: "_top" %>
</div>