<div class="relative w-full flex flex-col items-center touch-none min-h-screen" style="padding-bottom: 120px;">

  <%# プロフィールカード本体 %>
  <div class="w-full max-w-xs z-10" style="margin-top: 120px;">
    <%= render "profile_card", user: @user %>
  </div>

  <%# モーダル枠 %>
  <%= turbo_frame_tag "modal", target: "_top" %>
</div>